@media screen and (min-width: 436px) {
    .h-carousel {
        height: 580px;
    }
}

@media screen and (max-width: 435px) {
    .h-carousel {
        width: 100%;
        height: 250px;
    }
}

.h-carousel h2, .h-carousel p, .h-carousel span {
    color: #fff;
}

.carousel-circle {
    background-color: #f0f0f0;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    margin: 8px;
    width: 5px;
}

.carousel-circle.active {
    background-color: #e1e1e1;
}